
/* 選擇器概念 */
/* h1{
    color:red;
}

.test1{
    color:blue;
}

#test2{
    color:green
} */

/* 單位概念 */
.vTest{
    width: 10vw;
    height: 10vh;
    border: 1px solid black;
}

.pTest{ 
    /* 這裡的p是percent */
    width: 10%;
    height: 10%; 
    /* 高度不能一開始就用%，要先有固定高度才行，因為網頁沒有高度的概念 */
    border: 1px solid rgb(225,170,170);
}

.pxTest{
    width: 10px;
    height: 10px;
    border: 1px solid rgb(230,12,12);
}

.remTest{
    width: 10rem;
    height: 10rem;
    border: 1px solid rgb(91,190,15);
}

/* div{
    margin: 50px;
} */

/* 練習1 */
/* 共同部分可以寫在外面 */
div{
    width: 100vw;
}

.header{
    height: 20vh;
    background-color: blue;
}

.body{
    height: 65vh;
    background-color: orange;
}

.footer{
    height: 15vh;
    background-color: gray;
}

body{
    margin: 0px;
}
